.section-title{
  background: url(../img/Background.png) ;
  width: 100%;
  // height: 220px;
}
.section-title__title{
  font-family: 'ralewayregular';
  color:#fff;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  margin: 0 15px;
}
.section-title--wrap{
  display: flex;
  justify-content: space-between;
  padding: 110px 0;
}

.section-title__list{
  list-style-type: none;
  display: flex;
  margin: 0 15px;
}
.section-title__item{
	margin: 0 3px;
}
.section-title__link{
  font-family: 'ralewayregular';
  color:#fff;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
}
// ../section title


//section about

.about-box {
	display: flex;
	justify-content: center;
  flex-wrap: wrap;
	margin: 80px 15px 82px 0;
}

.about-info {
	margin-left: 39px;
	flex: 1 0 430px;
}

.about-box__img--img{
  border-radius: 5px;
	border: 1px solid transparent;
  width: 550px;
	height: 350px;
  background: url(../img/About-Us.png) no-repeat;
}

.about-info__title{
  font-family: 'ralewayregular';
  color:#222;
  font-size: 24px;
  font-weight: 600;
  line-height: 2em;
  text-align: left;
}

.about-info__descr{
  font-family: 'robotoregular';
  color: #555;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  padding: 5px 0;
}

.about-link{
  text-decoration: none;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
  background-color: #eeeeee;
  padding: 18px 29px;
  margin: 29px auto;
  display: inline-block;
}
// ../ABOUT

//works__

.works__list{
  list-style-type: none;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 0 auto;
  padding-bottom: 81px;
}
.works__item{
  width: 33%;
  text-align: center;
  margin-top: 81px;
}

.circle{
  border-radius: 50%;
  background-color: #408de4;
  width: 82px;
  height: 82px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.works__title{
  font-family: 'ralewayregular';
  color: #222;
  font-size: 15px;
  font-weight: 600;
  line-height: 26px;
  margin: 23px auto;
}

.works__descr{
  font-family: 'robotomedium';
  color: #888888;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

 //..//works__

// facts

.facts{
  background: url(../img/Background.png) ;
  width: 100%;
}
.facts__list{
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 200px;
}
.facts__item{
  text-align: center;
  margin: 88px auto 91px auto;
  span{
    display: block;
    color: #fff;
    font-family: 'robotoregular';
  }
}
.facts-count{
  font-size: 50px;
  font-weight: 400;
}

.facts-descr{
  font-size: 15px;
  font-weight: 500;
  line-height: 4em;
}

// .//facts

// team

.team{
  margin-top: 79px;
}

.team__title--wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	flex-direction: column;
}
.team__title{
  font-family: 'ralewayregular';
  color:#222;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 20px;
}

.team__descr{
  font-family: 'ralewayregular';
  color: #777;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 50px;
}

.team__list{
  display: flex;
	justify-content: center;
	align-items: center;
  // @include row-flex();
}

.team__item{
  border: 1px solid #f9f9f9;
  // @include col(12);
  // @include size-lg(12);
  // @include size-md(6);
  // @include size-sm(12);
  // @include size-xs(9);
}

.team__img--img{
  width: 262px;
  height: auto;
}

.team__img--descr{
  display: block;
  text-align: center;
}

.team__person{
  font-family: 'robotomedium';
  color: #222222;
  font-size: 14px;
  font-weight: 500;
  display: block;
}
.team__position{
  font-family: 'robotomedium';
  color:#999999;
  font-size: 14px;
  font-weight: 400;
  display: block;
}

.team__social-list{
  display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
  padding-bottom: 86px;
  margin-top: 15px;
}
.team__social-link{
  margin: 30px 5px;
}
