

.sidebar-slider {
	@include row-flex();
}

.slider-wrap {
	@include col();
	@include size(3);

}

.main-content-sidebar {
	@include row-flex();
}
.sidebar-slider {
	@include row-flex();
	@include col();
	@include size(3);
	@media screen and (max-width: 993px) {
		display: none;
	}
}

.slider-wrap {
	
	width: 100%;

	border: 1px solid #e5e5e5;
	border-radius: 1px;
}
/*
*
*Slider-comunication ---------------------------------------------------------
*
*/
.slider-wrap .owl-nav {
    position: absolute;
    top: -42px;
    right: 9px;
}

.slider-wrap .owl-nav [class*='owl-'] {
    color: #777777;
    font-size: 18px;
    height: 25px;
    width: 25px;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    background-color: #f7f7f7;
    display: inline-block;
    cursor: pointer;
    text-indent: -9999px;
}

.owl-prev {
    margin-right: 4px;
}

.owl-prev:before {
    content: '\203A';
    top: 2px;
    right: 10px;
    position: absolute;
    text-indent: 0;
}

.owl-next:before {
    content: '\2039';
    top: 2px;
    left: 10px;
    position: absolute;
    text-indent: 0;
}

/*--------------------------------------------------------------------------*/

.slider__title--wrap {
	padding: 19px 76px 18px 18px;
	margin: 0;
	font-size: 15px;
	line-height: 17px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 1px solid #e5e5e5;
	background: #eeeeee;
}

.slider__title--wrap.slider {
	font-size: 25px;
}


.slider__inner {
	padding: 15px 20px 30px;
}

.slider__image {
	position: relative;
	margin: 0 0 40px 0;
}

.slider__data--wrap {
	position: absolute;
	top: 10px;
	left: 9px;
	background-color: #408de4;
	border-radius: 1px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #fff;
	padding: 5px;
	text-align: center;
}

.slider__data--day {
	font-size: 18px;
	line-height: 20px;
	display: block;
}

.slider__data--month {
	font-size: 11px;
	line-height: 14px;
	display: block;
	text-transform: uppercase;
}

.slider__title {
	font-size: 16px;
	line-height: 18px;
	color: #000;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	text-transform: capitalize;
	margin-bottom: 10px;
}

.slider__title--fasion,
.slider__title--comment {
	font-size: 13px;
	line-height: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	display: inline-block;
	color: #222;
	text-decoration: none;
}

.slider__title--fasion {
	border-right: 1px solid #b5b5b5;
	padding-right: 6px;
	margin-right: 4px;
}

.slider__descr {
 	color: #888888;
 	font-size: 14px;
 	line-height: 20px;
 	font-family: 'Roboto', sans-serif;
	font-weight: 400;
 	padding-bottom: 20px;
 	margin-bottom: 0;
 }

.slider__link {
	font-size: 12px;
	line-height: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #408de4;
	text-transform: uppercase;
	text-decoration: none;
}

/*
*
*Slider-2 ----------------------------------------------------------------
*
*/
.slider-wrap.slider-2 {
	text-align: center;
	margin-top: 30px;
}

.slider__title--wrap.slider-2 {
	color: #fff;
	background-color: #408de4;
	padding: 19px 18px 18px;
	border: none;
}

.slider__descr.slider-2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	letter-spacing: .5px;
}

#slider-2 img {
	width: 66px;
	height: 66px;
	border-radius: 50%;
	margin: 0 auto;
}

.slider__image.slider-2 {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 37px;
}

.slider__img-descr {
	padding-top: 5px;
	padding-bottom: 30px;
}

.slider__person-name,
.slider__position {
    display: block;
}

.slider__person-name {
	font-size: 13px;
	line-height: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #222;
	text-transform:uppercase;
}

.slider__position {
	font-size: 14px;
	line-height: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #999;
}

#slider-2 .owl-dots {
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: 31px;
    transform: translateX(-50%);
}

#slider-2 .owl-dot {
	background-color: #cecece;
	height: 8px;
	width: 8px;
    border-radius: 50%;
    display: inline-block;
}

#slider-2 .owl-dot:not(:last-child) {
        margin-right: 8px;
    }

#slider-2 .owl-dot.active {
	background-color: #408de4;
}

#slider-2 .owl-dot:hover {
    background-color: #408de4;
}


/*
*
*brandSlider---------------------------------------------------------------------
*
*/



.section-brand-slider {
	display: flex;
	justify-content: center;
}

.brandSlider-wrap {
	margin-top: 30px;
	@include col();
 	@include size(12);
}

#brandSlider {
	border: 1px solid #000;
}

.brandSlider__title {
	font-size: 18px;
	line-height: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #222;
	text-transform:uppercase;
	padding-bottom: 22px;
}

.brandSlider-wrap .owl-nav {
    position: absolute;
    top: -42px;
    right: 0;
}

.brandSlider-wrap .owl-nav [class*='owl-'] {
    color: #777777;
    font-size: 18px;
    height: 25px;
    width: 25px;
    border: 1px solid #e5e5e5;
    border-radius: 1px;
    background-color: #fff;
    display: inline-block;
    cursor: pointer;
    text-indent: -9999px;
}

#brandSlider .owl-item.active {
	border-right: 1px solid #000;
	&:last-child {
		border: none;
	}
}


.owl-prev {
    margin-right: 4px;
}

.owl-prev:before {
    content: '\203A';
    top: 2px;
    right: 10px;
    position: absolute;
    text-indent: 0;
}

.owl-next:before {
    content: '\2039';
    top: 2px;
    left: 10px;
    position: absolute;
    text-indent: 0;
}